@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-logo::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-bottom: 10px solid #333;
  border-right: 10px solid #333;
  right: 0;
  bottom: -14px;
}
.hero-logo::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  left: 0;
  top: -16px;
}
.required {
  @apply after:content-['*'] after:ml-0.5 after:text-red-500;
}
.input-label {
  @apply inline-block text-lg mb-2;
}

.input {
  @apply border border-gray-200 rounded p-2 w-full;
}
